body {
	background:white;
    margin: 0;
	font-size:0;
	overflow:hidden;
}

.header{
	width:100vw;
	height:50px;
	background: black;
	text-align: center;
}

.lefthalf{
	width:calc((100vw/3)*2);
	height:100vh;
	position:relative;
	display:inline-block;
	overflow:hidden;
	background:#444;
}

.righthalf{
	width:calc(100vw/3);
	height:100vh;
	position:relative;
	display:inline-block;
}

.bluetext {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size:120px;
    color: #00B9FF;
	text-shadow: 0px 2px #000;
}

.yellowtext {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size:30px;
  text-transform: uppercase;
  color: #ffc600;
	text-shadow: 0px 2px #000;
}

.yellowtext a{
    color: #ffc600;
	text-decoration:none;
	margin-left:2vw;
	margin-right:2vw;
	line-height:50px;
	transition: color .25s ease-in-out;
}

.yellowtext a:hover {
    color: #00B9FF;
}

.whitetext {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size:30px;
    color: #fff;
}

.blacktext {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size:30px;
    color: #333;
}
.box {
    display: inline-block;
    width: 50%;
    height: 50vh;
    position: relative;
    overflow: hidden;
}

.imagelayer {
    overflow: hidden;
    z-index: -1;
    position: static;
    transition: -webkit-filter .25s ease-in-out, transform .25s ease-in-out;
    background: black;
}
.box:hover .imagelayer {
    -webkit-filter: blur(10px) brightness(50%);
    transform: scale(1.1);
    overflow: hidden;
    z-index: -1;
    position: static;
}
.image {
	background: #000;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text {
	height:100vh;
	margin-left:2vw;
	margin-right:2vw;
    font-size: 20;
    word-wrap: normal;
    overflow: hidden;
    z-index: 10;
    position: relative;
    color: #fff;
}
.textlayer {
    font-size: 20;
    margin-top: -33vh;
    word-wrap: normal;
    overflow: hidden;
    z-index: 10;
    position: relative;
    color: #fff;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}
.box:hover .textlayer {
    opacity: 100;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
}
.link:hover {
    opacity: 0;
}

.portfoliobox {
    display: inline-block;
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.portfoliobox:hover .imagelayer {
    -webkit-filter: blur(10px) brightness(50%);
    transform: scale(1.1);
    overflow: hidden;
    z-index: -1;
    position: static;
}

.portfoliotextlayer {
    width:70%;
	height:50%;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	position:absolute;
    word-wrap: normal;
    z-index: 10;
    color: #fff;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}
.portfoliobox:hover .portfoliotextlayer {
    opacity: 100;
}







.mobilebox {
    background: #252500;
    display: inline-block;
    width: 49%;
    height: 250px;
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
}
.mobiletextlayer {
    font-size: 20;
    margin-top: -200px;
    word-wrap: normal;
    overflow: hidden;
    z-index: 10;
    height: 600px;
    position: relative;
    color: #fff;
    opacity: 100;
    transition: opacity .25s ease-in-out;
}
.mobileimagelayer {
    -webkit-filter: blur(10px) brightness(50%);
    overflow: hidden;
    z-index: -1;
    position: static;
}
.mobilelink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
}

/* PORTFOLIO PAGE */
.portfolio-menu{
  width:200px;
	height:100vh;
	position:relative;
	display:inline-block;
	overflow:hidden;
	background:#000;
  text-align: center; /* To center menu options*/
}

.portfolio-menu-option{
  position: relative;
  display:inline-block;
  width: 90%;
  height: 100px;
  margin: 8px 0 8px 0;
  background: #fff;
  font-size:24;
  font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  border-radius: 15px;
  opacity: .5;
  cursor: pointer;
  user-select: none;
  transition: opacity .25s ease-in-out;
}
.portfolio-menu-option:hover{
  opacity: .8;
}
.portfolio-menu-option.selected:hover{
  opacity: 1;
}
.selected{
  opacity: 1;
}

.portfolio-menu-option-text{
  width:100%;
  height:50%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  position:absolute;
  word-wrap: normal;
  z-index: 10;
}

.portfolio-main{
  width:calc(100vw - 200px);
	height:100vh;
	position:relative;
	display:inline-block;
	overflow:hidden;
  text-align: center; /* To center menu options*/
}

.portfolio-main-background-wrapper{
	width:100%;
	height:100%;
	position: fixed;
	z-index: -100;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}


.portfolio-main-background{
	position: relative;
  height: 100vh;
	left: -25px;
	right: -25px;
	top: -25px;
	bottom: -25px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	filter:blur(8px) brightness(70%);
}

.portfolio-main-title{
  width: 90%;
  font-size: 72px;
  word-wrap: normal;
  overflow: hidden;
  z-index: 10;
  position: relative;
  color: #FFF;
  display:inline-block;
  margin: 20px 0 0 0;
  font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  text-shadow: 2px 2px #000;
}

.portfolio-main-below-title{
  width: 90%;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.portfolio-main-text{
  width: calc(50% - 30px);
  font-size: 20px;
  word-wrap: normal;
  overflow: hidden;
  z-index: 10;
  position: relative;
  color: #000;
  background: #FFF;
  display:inline-block;
  opacity: 0.8;
  margin: 0 10px 0 0;
  text-align: left;
  padding: 10px 10px 0 10px;
  font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  vertical-align:top;
  border-radius: 15px;
}

.portfolio-main-right-rail{
  width: calc(50% - 10px);
  font-size: 72px;
  word-wrap: normal;
  overflow: hidden;
  z-index: 10;
  position: relative;
  color: #000;
  display:inline-block;
  margin: 0 0 0 10px;
  vertical-align:top;
}

.portfolio-main-link{
  width: 100%;
  height: 60px;
  font-size: 36px;
  word-wrap: normal;
  overflow: hidden;
  z-index: 10;
  position: relative;
  color: #fff;
  background: #afd48b;
  display:inline-block;
  border-radius: 15px;
  box-shadow: 0 5px #72a082;
  font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  text-shadow: 0px -2px #72a082;
  padding-top: 20px;
  transition: transform .25s ease-in-out, box-shadow .25s ease-in-out;
  text-decoration:none;
  cursor: pointer;
  user-select: none;
}

.portfolio-main-link:hover{
  transform: translateY(5px);
  box-shadow: 0 0px #72a082;
}

.portfolio-main-image{
  width: 100%;
  overflow: hidden;
  z-index: 10;
  position: relative;
  display:inline-block;
  background-repeat: no-repeat;
	background-size: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
}

.portfolio-youtube {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  margin-top: 20px;
}
.portfolio-youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  
}


/* @media all and (max-width: 739px) {
    .box {
        display: none;
    }
    .mobilebox {
        display: inline-block;
    }
}
@media all and (min-width: 740px) {
    .box {
        display: inline-block;
    }
    .mobilebox {
        display: none;
    }
} */